* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tv-logo {
  height: 75px;
  width: 75px;
}
.img__in__slider {
  text-align: center;
  width: 550px;
  /*animation*/
  position: relative;
  animation-name: img-slider;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

/*img in*/
@keyframes img-slider {
  from {
    top: -700px;
    opacity: 0.2;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes img-slider {
  from {
    top: -100%;
    opacity: 0.2;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.slider__body {
  font-family: sans-serif;
  height: 760px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.container__img__position {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container__slidse {
  padding-left: 15px;
  display: flex;
  align-items: center;
}
/*trailer_valet img sizing*/
.trailer_valet {
  width: 600px;
  height: 700px;
}
.valet_desctiption {
  background-color: #ffcb05;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}
.product__description {
  padding-right: 15px;
  font-size: 75px;
  color: #040446;
  text-align: center;
  /*animation*/
  position: relative;
  animation-name: product-description;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
@keyframes product-description {
  from {
    right: -100%;
    opacity: 0.2;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}
@-webkit-keyframes product-description {
  from {
    right: -100%;
    opacity: 0.2;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

.qr {
  width: 200px;
  height: 200px;
}

.price {
  color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: auto;
  height: 160px;
  font-size: 100px;
  z-index: 1;
  background-color: #040446;
  /*animation*/
  animation-name: price-slide;
  position: relative;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes price-slide {
  from {
    left: -15%;
    opacity: 0.2;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes price-slide {
  from {
    left: -15%;
    opacity: 0.2;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

/*rotate*/
.for_rotate {
  transform: rotate(30deg);
}

/*footer*/
.container_footer {
  padding: 25px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    -45deg,
    #423270,
    #df2929,
    #e73c3c,
    #d4152f,
    #423270
  );
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  height: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer_text {
  text-align: center;
  color: white;
  width: 33%;
  font-size: 40px;
}
.footer_logo {
  width: 60%;
}
