* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*H2 style in the description about item*/
.about__item {
  text-align: center;
}
/*ul style list*/
.ul__style__list {
  font-size: 25px;
}
/*description of product*/
.container__details {
  display: flex;
  flex-direction: column;
}
/*container with product and details of it*/
.container__row {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}
.container__img-slider {
  display: flex;
  position: relative;
  width: 100vw;
  height: 400px;
}
.container__img-slider .container__slider-container {
  position: absolute;
  width: 300%;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: slider 56s infinite;
}
.container__img-slider .container__slider-container .slide {
  position: relative;
  width: 33.33333333%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.container__img-slider .container__slider-container .slide img {
  display: block;
  width: 300px;
  height: 300px;
}
@keyframes slider {
  0%,
  25%,
  100% {
    left: 0;
  }

  30%,
  55% {
    left: -100%;
  }

  60%,
  85% {
    left: -200%;
  }
}
